.general{
    padding-top: 4%;
    border: solid 1px red;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

.row{
    padding: 1%;
}

img{
    width: 70%;
    margin-top: -5%;
    
}

.nombre{
    font-weight: 600;
    margin-top: 5%;
    font-size: 40px;
}

.info{
    margin-top: 1%;
}