.general{
    padding-top: 7%;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

img{
    width: 70%;
    filter: drop-shadow(0 2px 5px #66d7d1);
}

.nombre{
    font-weight: 600;
    margin-top: 5%;
    font-size: 48px;
    text-align: center;
    margin-top: 1%;
}

.info{
    margin-top: -1%;
}

.info p{
    text-align: justify;
    font-size: 18px;
}

.tittle{
    text-align: center;
    font-size: 40px;
    text-decoration: underline dotted black;
    text-underline-offset: 5px;
}