<div class="general" id="about">
<p> </p>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src="../../../assets/profile_pic.png" class="img-fluid">
                <p class="nombre"> Franco Chiani</p>
            </div>
            <span class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 info">
                <h1>Sobre Mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde reprehenderit quibusdam, corporis nesciunt, esse neque ipsam est laborum similique ea magni harum, repellendus odit recusandae? Fugiat optio quis doloribus ut!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde reprehenderit quibusdam, corporis nesciunt, esse neque ipsam est laborum similique ea magni harum, repellendus odit recusandae? Fugiat optio quis doloribus ut!</p>
                <button class="btn btn-info btn-lg disabled" type="button">Descargar CV</button>
            </span>
        </div>
    </div>
</div>