.container-fluid{
    background-color: rgb(41, 41, 41) ;
    width: 100%;
    z-index: 2;
}

a{
    color: white;
    font-family: 'Fredoka', sans-serif;
}

app-logo-ap{
    margin-right: 24%;
}

app-login{
    float: right;
    margin-top: 0;

} 

app-social{
    margin-top: 0;

}

.navbar-collapse{
    display: flex;
    justify-content: space-between;
}
a:hover{
    color:#befaf7;
    text-decoration:underline wavy #66d7d1;
    text-underline-offset: 7px;
    font-weight: 500;
}

@media (max-width: 767px) {
    #navbarNav{
        margin-left: 40px;
        margin-right: 20px;
    }

    app-social{
        margin: 0;
        display: block;
        width:fit-content;
        float: left;
    }
    app-login{
        margin-right:0px;
        width:fit-content;
        margin-top:-10px;

    }
}

@media (max-width: 370px) {
    #navbarNav{
        margin-left: 40px;
        margin-right: 20px;
    }

    app-social{
        margin: 0;
        display: block;
        width:fit-content;
        float: right;
    }
    app-login{
        margin-right:0px;
        width:fit-content;
        margin-top:10px;
    }
}