<div class="container-fluid">
<nav id="header" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <app-logo-ap></app-logo-ap>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item"><a href="#banner" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">Sobre mí</a></li>
        <li class="nav-item"><a href="#academy" class="nav-link">Académico</a></li>
        <li class="nav-item"><a href="#skills" class="nav-link disabled">Skills</a></li>
        <li class="nav-item"><a href="#proyects" class="nav-link disabled">Proyecto</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link disabled">Contacto</a></li>
      </ul>

      <app-social></app-social>
      <app-login></app-login>
    </div>
  </nav>