.container-fluid{
    background-color: rgb(41, 41, 41) ;
    width: 100%;
    z-index: 2;
}

a{
    color: white;
    font-family: 'Fredoka', sans-serif;
}

button{
    margin-right: 10px;
}

app-logo-ap{
    margin-right: 24%;
}

app-login{
    float: right;
    margin-top: 0;
    margin-left: 5%;
} 

app-social{
    margin-top: 0;
    margin-left: 5%;
}


a:hover{
    color:#befaf7;
    text-decoration:underline wavy #66d7d1;
    text-underline-offset: 7px;
    font-weight: 500;
}

@media (max-width: 1286px){
    app-logo-ap{
        margin-right: 15%;
    }
}

@media (max-width: 1150px){
    app-logo-ap{
        margin-right: 3%;
    }
    app-login{
        margin-left: 3%;
    }
}

@media (max-width: 991px) {
    #navbarNav{
        margin-left: 40px;
        margin-right: 20px;
    }

    app-social{
        margin: 0;
        display: block;
        width:fit-content;
        float: left;
    }
    app-login{
        margin-right:0px;
        width:fit-content;
        margin-top:-10px;

    }
}

@media (max-width: 399px) {
    #navbarNav{
        margin-left: 40px;
        margin-right: 20px;
    }

    app-social{
        margin: 0;
        display: block;
        width:fit-content;
        float: right;
    }
    app-login{
        margin-right:0px;
        width:fit-content;
        margin-top:10px;
        float: right;
    }
}
