<app-header></app-header>
<app-banner></app-banner>
<app-about></app-about>
<div id="academy">
<p>--------------------------------------------------------------------------------------------------------------------</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut repellendus fuga blanditiis id iste labore voluptatum pariatur at sunt nesciunt ad beatae, doloribus facere. Accusantium rem repellat laborum minima!</p>
</div>



